*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
  font-family: sans-serif;   
}
.main{
    height: 100%;
    width: 100%;
    /* position: relative; */
}

.nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-part{
    display: flex;
    gap: 40px;
    padding-right: 100px;
}
.nav-part2 button{
    border: none;
    background-color:dodgerblue;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    
}

.nav-part a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.content{
    height: calc(100% - 100px);
    width: 100%;
    
    position: relative;
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
    padding: 80px 110px;
    
}
.right{
    height: 100%;
    width: 40%;
    justify-content: center;
    align-items: center;

}
.left p{
    font-size: 1.4em;
    padding-top: 30px;
    color: rgb(59, 59, 59);
    font-weight: 200;
}
.left h2{
    font-size: 3.5em;
    font-weight: 700;
}
.left button{
    border: none;
    background-color:dodgerblue;
    padding: 10px 10px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
   margin-top: 40px;
}
